<script setup lang="ts">
import BasicHeader from "../header/BasicHeader.vue"
import BasicFooter from '../footer/BasicFooter.vue'
</script>
<template>
    <BasicHeader />
    <section class="block py-[30px] px-[3%] mx-auto bg-lightGrayLeaf">
        <slot></slot>
    </section>
    <BasicFooter />
</template>
