<script setup lang="ts">
import BasicLayout from '../components/layout/BasicLayout.vue'
</script>
<template>
    <BasicLayout>
        <div class="mt-20 mb-20">
            Login
        </div>
    </BasicLayout>
</template>