<template>
    <header
        class="px-[3%] min-h-[72px] bg-white border-b-[#eee] border-b shadow-sm relative flex flex-wrap items-center justify-between py-2">
        <div class="col-brand">
            <a href="/" class="text-greenBody">
                <img src="assets/imgs/theme/logo.svg" class="max-w-[130px] mt-[5px]" alt="Leaf Dashboard">
            </a>
        </div>
        <div class="flex items-center">
            <ul class="flex flex-wrap items-center pl-0 mb-0 list-none">
                <li class="">
                    <a class="text-grayLeaf block no-underline relative py-0 px-[10px] text-center" href="#"> <i
                            class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="mr-[5px] relative inline-block">
                    <a class="text-grayLeaf" href="#" aria-expanded="false"><i class="material-icons md-public"></i></a>
                    <div class="absolute hidden text-left list-none">
                        <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png"
                                alt="English">English</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png"
                                alt="Français">Français</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png"
                                alt="Français">日本語</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png"
                                alt="Français">中国人</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
</template>