<script setup lang="ts">
import {ref} from 'vue'

const year = ref(new Date().getFullYear())
</script>

<template>
    <footer class="w-full h-14 py-7 px-[3%] right-0 bottom-0 absolute text-center">
        <p class="text-xs text-primary leading-6 mb-1">
            {{year}} © Nest - HTML Ecommerce Template .
        </p>
        <p class="text-xs text-primary leading-6 mb-1">All rights reserved</p>
    </footer>
</template>